 body {
      background: #e0e0e0;
      font-family: Arial, sans-serif;
      text-align: center;
      font-size: 16px;
      margin-top: 20px;
    }
    .panel {
        display: inline-block;
        width: 280px;
        /* padding: 14px; */
        border-radius: 10px;
        margin-bottom: 30px;
        color: #00aaff;
        font-weight: bold;
        font-size: 240px;
        line-height: 240px;
        background: #fff;
    }
    .panel + .panel {
        margin-left: 20px;
    }
    .panel.unmatched {
        opacity: 0.5;
    }

    .BingoPanel {
        display: inline-block;
        width: 120px;
        padding: 14px;
        border-radius: 10px;
        margin-bottom: 30px;
        color: #00aaff;
        font-weight: bold;
        font-size: 120px;
        line-height: 128px;
        background: #fff;
    }
    .BingoPanel + .BingoPanel {
        margin-left: 20px;
    }
    .BingoPanel.unmatched {
        opacity: 0.5;
    }

    .bingo {
        display: inline-block;
        width: 40px;
        padding: 3.5px;
        opacity: 0.5;
        border-radius: 2.5px;
        margin-bottom: 7.5px;
        color: #00aaff;
        font-weight: bold;
        font-size: 22px;
        line-height: 32px;
        background: #fff;
    }
    .bingo + .bingo {
        margin-left: 5px;
    }
    .bingo.unmatched {
        opacity: 1.0;
        background: #FFFF00 ;
    }

    .btn {
        display: inline-block;
        width: 120px;
        padding: 20px;
        border-radius: 5px;
        margin-bottom: 30px;
        color: #fff;
        box-shadow: 0 4px 0 #0088cc;
        background: #00aaff;
        cursor: pointer;
    }
    .btn + .btn {
        margin-left: 10px;
    }
    .btn.inactive {
        opacity: 0.5;
    }
    /* #spinButton {
        margin: 0 auto;
        width: 240px;
        padding: 7px;
        border-radius: 5px;
        margin-bottom: 25px;
        color: #fff;
        box-shadow: 0 4px 0 #e91b0c;
        background: #f44336;
        cursor: pointer;
    }
    #spinButton.inactive {
        opacity: 0.5;
    } */

    .copy {
        display: inline-block;
        margin-bottom: 30px;
        color: #00aaff;
        font-weight: bold;
        font-size: 16px;
    }